
* {
    background-color: white;
}
.about {
    display: flex;
    height: 100vh;
    color: black;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-left-wrapper{
    padding: 50px;
    height: 20%; 
}

.about-i{
    font-size: 30px;
    font-weight: 300;
    text-align: center;  
}

.about-name{
    font-size: 60px;
    text-align: center;
}
