.icons {
    font-size: 3.5em;
    opacity: 0.93 ;
    margin: 15px;
    padding: 5px;
    vertical-align: middle ;
    text-align: center ;
}

.cea{
    text-align: center;
    padding: 5px;
}

.c-div {
    text-align: center;
}