.icons {
    font-size: 3.5em;
    opacity: 0.93 ;
    margin: 15px;
    padding: 5px;
    vertical-align: middle ;
    text-align: center ;
}

.icons:hover{
    color: grey;
}

.a-c {
    text-decoration: none;
    color: black;
}
.a-c:hover{
    color: grey;
}

.cea{
    text-align: center;
    padding: 5px;
}

.c-div {
    text-align: center;
}

.c-button {
    background-color: white;
    border: 1.7px solid black;
    color: black;
    overflow: hidden;
}

.c-button:hover{
    color: black;
    background-color: white;
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid white;
}